 <!-- Footer -->
 <footer class="py-3 bg-dark">
  <div class="container">
      <div class="row">
          <div class="col-4 offset-1 col-sm-2">
              <h5>Navigate</h5>
              <ul class="list-unstyled">
                  <li><a href="../home">Token</a></li>
                  <li><a href="../about">Roadmap</a></li>
                  <li><a href="../contact">buy</a></li>
              </ul>
          </div>
          
          <div class="col-12 col-sm-4" style = "text-align: right;">
              <div class="text-center">
                <h5>Telegram</h5>
                  <a class="btn btn-social-icon btn-youtube" href="https://t.me/savepalestinetoken"><i class="fa fa-telegram fa-lg"></i></a><br/>

              </div>
          </div>
     </div>
     <div class="row justify-content-center">
          <div class="col-auto">
              <p style="color:gray">©️Copyright 2020 SavePalestine, All Rights Reserved, Terms of use & Privacy policy.</p>
          </div>
     </div>
  </div>
</footer>